img {
    width: 200px;
}
body{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(155, 209, 253);
}
h1{
    color: #a26767;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(12, 107, 107);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
a {
text-decoration: none;
color: rgb(18, 18, 196);
}
p{
  color: black;  
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border-radius: 50%;
    padding: 20px;
    box-shadow: #BFC0C0;
}
ul{
    list-style: none;
    padding: 0%;
}
li{
    text-decoration: none;
}
.card {
    background-color: white;
    border: 3px solid rgb(72, 72, 230);
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(0,0,0,0.1);
    border-radius: 4px;
    text-align: center;

}
.main {
    width: 700px;
    margin: 40px auto;
}
.button {
    background-color: rgb(155, 209, 253);
    color: rgb(72, 72, 230);
    padding: 5px 15px;
    border-radius: 4px;
}
.button:hover {
    background-color: rgb(72, 72, 230);
    color: rgb(155, 209, 253);
}
.in-line {
    list-style: none;
    padding: 0px;
}
.in-line li{
    display: inline;
    padding: 10px;
}
.in-line i {
    font-size: 60px;
}
.in-line i:hover {
    color: rgb(155, 209, 253);
}

@media (max-width: 760px) {
    .main {
        width: 500px;
    }
}
@media (max-width: 500px) {
    .main {
        width: 300px;
    }
}